<!DOCTYPE html>
<html>
   <head>
      <title>acifuentes99 - FCC API 5</title>
       </head>

   <body>

       <h1>FCC_Api Proyect 5: File Metadata</h1>
       <h2>Instructions</h2>
       <p>
       Upload a file in the form. See the metadata.
       </p>
       <form id="#formOne" method='post' enctype="multipart/form-data" action='/'>
            <input type="file" name="file_" size="40">
            <input type="submit" value="Send" >
       </form>
        <p>File size: <%= file_size %> bytes</p>

    <script>
        $("#formOne").submit(function(){
          alert("you are submitting" + $(this).serialize());
        });
    </script>

   </body>
</html>
